In [1]:
import pandas as pd

In [24]:
class Testing:
    def __init__(self):
        self.t = pd.DataFrame({"Hi": [12, 23], "Bye": [24, 4]})

In [ ]:
a = pd.DataFrame({"Hi": [12, 23], "Bye": [24, 4]})

In [26]:
c = pd.DataFrame({"Hi": [1, 2], "Bye": [4, 4]})

In [27]:
b = a

In [28]:
a.t = pd.concat([a.t, c])

In [30]:
a.t

   Hi  Bye
0  12   24
1  23    4
0   1    4
1   2    4

In [31]:
b.t

   Hi  Bye
0  12   24
1  23    4
0   1    4
1   2    4